.god {
    background-color: salmon;
    color: white;
    text-align: center;
    transition: transform 0.2s, background-color 0.3s;
}

/* Gjør lenken til en knapp */
.god a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    height: 100%;
}

/* Hover-effekt for bedre feedback */
.god:hover {
    background-color: darkred;
    transform: scale(1.05);
}
